<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">

    <session-factory>
        <property name="connection.url">jdbc:mysql://host:3000/auto</property>
        <property name="connection.username">auto</property>
        <property name="connection.password">111</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql"> true </property>
        <property name="dialect"> org.hibernate.dialect.MySQL5Dialect </property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping resource="Car.hbm.xml"/>
        <mapping resource="Room.hbm.xml"/>
    </session-factory>

</hibernate-configuration>